/* Styling Of Overallpage */
header {color: white;}
main {color:black;}

/* Navigation Bar Styling */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%; }
ul.navbar li {float: left;} 
ul.navbar li a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
  
ul.navbar li a:hover:not(.active) {background-color: grey;}
  
ul.navbar li a.active {background-color: #ff33a0;}
  
ul.navbar li.right {float: right;}

/* Search Box Styling */
form {float: right; margin-top: -35px;
font-size:17px;
margin-right: 10px;
}
.button {
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
::placeholder {
    color: #ff33a0;
    opacity: 0.7; 
  }
input {
    font: 16px system-ui;
    color: #ff33a0;
  }

  /* text Styling */
  h1{color: #ff33a0;font-family: cursive;}

  h2.top {color: #ff33a0;
    font-family: cursive;
    margin-bottom: 50px;
    margin-top: -30px;}

  h2.bottom {color: #ff33a0;
    font-family: cursive;
    margin-bottom: 50px;
    margin-top: 30px;}

  h3{color: #ff33a0;
    font-family: cursive;
    text-align: center;
    font-size: x-large;
    }

  h4{color: #ff33a0;
    font-family: cursive;
    font-weight: normal}

  * {box-sizing:content-box}

 /* Add padding to containers */
 .grid-container3 {padding: 16px;
    margin-left: -1220px;
    margin-right: 210px;}
 
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    margin: 5px 0 22px 0;
    padding: 15px;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* styles for hr */
  hr {
    border: 1px solid #2b021d;
    margin-bottom: 25px;
  }
  
  /* Set a style for the register button */
  .registerbtn {
    background-color: #2b021d;
    color: white;
    padding: 20px 20px;
    margin: 2px;
    border: none;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
    margin-left: 60px;
    margin-right: 90px;
  }
  .registerbtn:hover {opacity:2;}
  
  /* Add a blue text color to links */
  a {color: red;}
  
  /* Set background color and center the text of the "sign in" section */
  .signin {
    background-color:  #f1f1f1;
    text-align: center; 
    color:hwb(328 20% 0% / 0.816);
    margin-left: -1220px;
    margin-right: 210px;}

/* Set Layout Of The Section */
.grid-container0 {
        height: 250px;
        grid-template-rows: auto;
        margin-left: 90px;
        margin-right: 90px;
        margin-bottom: 90px;
        margin-top: 40px;
        background-color: #f1f1f1;
        text-align:center;
        padding: 10px;
        } 
/* Set Layout Of The Section */
.grid-container1 {display: grid;
    height: -50px;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    
}

/* Set Layout Of The Section */
.grid-container2 {display: grid;
    height: -50px;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;}

/* Set Layout Of The Section */
.video {margin-left: 200px;
    margin-right: 200px}

